.app-store {
  width: 203px;
  height:60px;
  margin: 10px;
}

.app-picture {
width: 540px;
height:521px;
}

.app-logo {
  width: 250px;
  height:100px;
}

.feature-picture {
  width: 340px;
  height:491px;
}

.team-bg {
  background: #f86c6b;
}

///////////////NEW CSS

.row {
  margin-right: 0;
  margin-left: 0;
}

.page-header {
  font-size: 30px;
  font-weight: 700;
  border: none;
  margin-top: 0;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 8px;
  }
  &.wsub {
    margin-bottom: 0;
    h2 {
      margin-bottom: 0;
    }
  }
}

/* Features */

#more-features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  &.centered-features .container {
    padding: 0 30px;
    background: #FFFFFF;

  }
}

#features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  .container {
    padding: 0 30px;
  }
}
  
#features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  .container {
    padding: 0 30px;
  }
}

#more-features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  background: #FFFFFF;
  &.centered-features .container {
    padding: 0 30px;
    background: #FFFFFF;
  }
}

.block {
  i {
    color: #2D6CC0; 
    font-size: 22px;
  }
  img {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .social {
    i {
      font-size: 16px;
    }
    &.center a {
      margin: 0 5px;
    }
  }
}

.center-feature-image {
  width: 50%;
  margin: 0 auto;
}

.feature-icon i {
  border: 2px solid #F1AB00;
  border-radius: 50%;
  padding: 20px;
}

.feature-left {
  .feature-icon {
    position: absolute;
    float: left;
    left: 0;
    i {
      border-radius: 50%;
      padding: 15px;
    }
  }
  .feature {
    text-align: left;
    padding: 50px 0 0 60px;
  }
}

.feature-right {
  .feature-icon {
    position: absolute;
    float: right;
    right: 0;
    i {
      border-radius: 50%;
      padding: 15px;
    }
  }
  .feature {
    text-align: right;
    padding: 50px 60px 0 0;
  }
}

/* End Features */

/* Call to Action */
  
#cta {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  padding: 120px 0;
  &.dark-bg {
    background-color: #272733;
  }
}

.cta-content {
  text-align: center;
}

#cta.dark-bg {
  .cta-content .cta-title {
    color: white;
  }
  .cta-info {
    color: #ebebeb;
  }
  p {
    color: #cccccc;
  }
}

.cta-description {
  width: 65%;
  margin: 0 auto;
}

.cta-info {
  margin: 30px 0 15px 0;
}

/* End Call to Action */
/* Contact Section */

//HEADER

.header-content {
  // padding: 80px 0;
  padding-top: 80px;
  
  .col-sm-6 .header-image img {
    margin-left: 0 !important;
    margin-bottom: 50px !important;

  }
}


.header-content-details {
  padding: 110px 15px;
}

.header-brand {
  font-size: 36px;
}

.download-buttons img {
  // display: inline-block;
  // width: auto;
  // max-height: 42px;
  // margin: 3px;
}

.download-buttons a img:hover {
  opacity: 0.7;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

#header-9 {
  background-image: url("https://i.imgur.com/52N95gE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark-header {
  background-color: #272733;
}

.dark-header {
  h3, h5 {
    color: white;
  }
  p {
    color: #cccccc;
  }
}

 /* Team */
  
 #team {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  padding: 80px 0;
}

.team {
  margin-top: 30px;
  img {
    border-radius: 50%;
    max-width: 150px;
  }
}

#team.style-2 .team img {
  border-radius: 0;
}

.team-role {
  font-size: 14px;
  margin-bottom: 15px;
}

.team .social i {
  color: #cccccc;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  &:hover {
    color: #1fc585;
  }
}

/* End Team */

/* Footers */
  
.footer-info {
  padding: 25px 15px;
}

footer {
  p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .social a {
    font-size: 14px;
    margin-left: 10px;
  }
}

.light-footer {
  background: #f7f7f7;
  p {
    color: #666666;
  }
}

.dark-footer {
  background: #222222;
  p {
    color: #cccccc;
  }
}

.color-footer {
  background: #0D2D5C;
  p {
    color: white;
  }
  a {
    color: white;
    &:hover {
      color: #cccccc;
    }
  }
  p a {
    color: #F1AB00;
    &:hover {
      color: #BB8900;
    }
  }
}

/* End Footers */

 /* Newsletter */
  
 #newsletter {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.widget-area #newsletter {
  padding: 0;
}

#newsletter {
  &.light {
    background-color: #ebebeb;
  }
  &.dark {
    background-color: #272733;
    .page-header h2 {
      color: white;
    }
  }
  .form-control {
    color: #666666;
    background: #f7f7f7;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: 1px solid #ebebeb;
    border-radius: 0;
    padding: 10px 20px;
    min-height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
  }
  .input-group {
    width: 60%;
    margin: 0 auto;
  }
  .input-group-btn {
    vertical-align: top;
  }
}

.btn-newsletter {
  padding: 14px 24px;
  margin-left: 20px !important;
  border-radius: 0;
  z-index: 2;
}

#newsletter {
  .btn-newsletter.inside {
    margin-left: 0 !important;
  }
  .btn-left.btn-newsletter.inside {
    margin-left: -140px !important;
    margin-top: 0;
    z-index: 999;
  }
  &.no-icons .btn-left.btn-newsletter.inside {
    margin-left: -112px !important;
  }
}

/* End Newsletter */

 /* Primary Button */
  
 .btn-primary {
  color: #1fc585;
  border: 2px solid #1fc585;
  background: transparent;
  &:active, &:focus {
    color: #1fc585;
    border: 2px solid #1fc585;
    background: transparent;
  }
  &:hover {
    color: white;
    background: #1fc585;
    border: 2px solid #1fc585;
  }
}

.btn-primary-filled {
  color: white;
  background: #F1AB00;
  border: 2px solid #F1AB00;
  &:active, &:focus {
    color: white;
    background: #F1AB00;
    border: 2px solid #F1AB00;
  }
  &:hover {
    color: white;
    background: #BB8900;
    border: 2px solid #BB8900;
  }
}

/* / End Primary Button */
/* Success Button */

.btn-success {
  color: #1fc55a;
  border: 2px solid #1fc55a;
  background: transparent;
  &:active, &:focus {
    color: #1fc55a;
    border: 2px solid #1fc55a;
    background: transparent;
  }
  &:hover {
    color: white;
    background: #1fc55a;
    border: 2px solid #1fc55a;
  }
}

.btn-success-filled {
  color: white;
  background: #1fc55a;
  border: 2px solid #1fc55a;
  &:active, &:focus {
    color: white;
    background: #1fc55a;
    border: 2px solid #1fc55a;
  }
  &:hover {
    color: white;
    background: #147a38;
    border: 2px solid #147a38;
  }
}

/* / End Success Button */

/* How it Works */
  
#how {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  padding: 90px 0;
}

.hiw {
  text-align: left;
  padding: 50px 30px 30px 90px;
}

.hiw-content {
  padding: 80px 15px;
  padding: 30px 15px;
  .hiw.next-indicator:after {
    width: 13%;
  }
}

.hiw.next-indicator:after {
  color: #cccccc;
  content: "\f178";
  font-family: FontAwesome;
  display: block;
  width: 33%;
  height: 4px;
  position: absolute;
  right: 0;
  top: 50px;
}

.step-badge {
  color: white;
  background: #373e62;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 16px;
  padding: 5px;
  font-size: 12px;
  position: absolute;
  top: -15px;
  left: -7px;
  text-align: center;
  z-index: 99;
  float: left;

}

#how.style-2 .step-badge {
  top: -25px;
  left: -10px;
  border-radius: 0;
  top: -25px;
  left: -10px;
}

.how-icon {
  position: absolute;
  float: left;
  left: 15px;
  i {
    color: #2D6CC0;
    background: transparent;
    border: 2px solid #2D6CC0;
    border-radius: 50%;
    font-size: 20px;
    padding: 15px;
  }
}

 

#how.style-2 .how-icon i {
  border: 2px solid #F1AB00;
  border-radius: 0;
}

.hiw h4 {
  margin-bottom: 10px;
  margin-left: 80px;
}

/* End How it Works */

.club {
  background-color: #2D6CC0 !important;
  // // background-image: url('https://assets.ucr.edu/localist/images/bg-ucr-footer.jpg') !important;
  // background-image: url('../assets/logo/ucr_highlander.jpg') !important;
  // // opacity: 0.5;
  // background-size: cover;
  // background-repeat: no-repeat;
  // padding: 2rem 1rem;

}

.rounded {
  border-radius: 5px !important;
}

.gold{
  color: #F1AB00 !important; }
