.app-store {
  width: 203px;
  height:60px;
  margin: 10px;
}

.app-picture {
width: 540px;
height:521px;
}

.feature-picture {
  width: 340px;
  height:491px;
}

.team-bg {
  background: #f86c6b;
}

///////////////NEW CSS

.row {
  margin-right: 0;
  margin-left: 0;
}

.page-header {
  font-size: 30px;
  font-weight: 700;
  border: none;
  margin-top: 0;
  margin-bottom: 30px;
  h2 {
    margin-bottom: 8px;
  }
  &.wsub {
    margin-bottom: 0;
    h2 {
      margin-bottom: 0;
    }
  }
}

/* Features */

#more-features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  &.centered-features .container {
    padding: 0 30px;
    background: #FFFFFF;

  }
}

#features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  .container {
    padding: 0 30px;
  }
}
  
#features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  .container {
    padding: 0 30px;
  }
}

#more-features {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  background: #FFFFFF;
  &.centered-features .container {
    padding: 0 30px;
    background: #FFFFFF;
  }
}

.block {
  i {
    color: #F1AB00;
    font-size: 22px;
  }
  img {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .social {
    i {
      font-size: 16px;
    }
    &.center a {
      margin: 0 5px;
    }
  }
}

.center-feature-image {
  width: 50%;
  margin: 0 auto;
}

.feature-icon i {
  border: 2px solid #2D6CC0;
  border-radius: 50%;
  padding: 20px;
}

.feature-left {
  .feature-icon {
    position: absolute;
    float: left;
    left: 0;
    i {
      border-radius: 50%;
      padding: 15px;
    }
  }
  .feature {
    text-align: left;
    padding: 50px 0 0 60px;
  }
}

.feature-right {
  .feature-icon {
    position: absolute;
    float: right;
    right: 0;
    i {
      border-radius: 50%;
      padding: 15px;
    }
  }
  .feature {
    text-align: right;
    padding: 50px 60px 0 0;
  }
}

/* End Features */

/* Call to Action */
  
#cta {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  padding: 120px 0;
  &.dark-bg {
    background-color: #272733;
  }
}

.cta-content {
  text-align: center;
}

#cta.dark-bg {
  .cta-content .cta-title {
    color: white;
  }
  .cta-info {
    color: #ebebeb;
  }
  p {
    color: #cccccc;
  }
}

.cta-description {
  width: 65%;
  margin: 0 auto;
}

.cta-info {
  margin: 30px 0 15px 0;
}

/* End Call to Action */
/* Contact Section */

//HEADER

.header-content {
  padding: 70px 0;
  .col-sm-6 .header-image img {
    margin-left: 0 !important;
  }
}

.header-content-details {
  padding: 110px 15px;
}

.header-brand {
  font-size: 36px;
}

.download-buttons img {
  // display: inline-block;
  // width: auto;
  // max-height: 42px;
  // margin: 3px;
}

.download-buttons a img:hover {
  opacity: 0.7;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}

#header-9 {
  // background-image: url("../images/header-img9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

 /* Team */
  
 #team {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f7f7f7;
  padding: 80px 0;
}

.team {
  margin-top: 30px;
  img {
    border-radius: 50%;
    max-width: 150px;
  }
}

#team.style-2 .team img {
  border-radius: 0;
}

.team-role {
  font-size: 14px;
  margin-bottom: 15px;
}

.team .social i {
  color: #cccccc;
  -webkit-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  &:hover {
    color: #1fc585;
  }
}

/* End Team */

/* Footers */
  
.footer-info {
  padding: 25px 15px;
}

footer {
  p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .social a {
    font-size: 14px;
    margin-left: 10px;
  }
}

.light-footer {
  background: #f7f7f7;
  p {
    color: #666666;
  }
}

.dark-footer {
  background: #222222;
  p {
    color: #cccccc;
  }
}

.color-footer {
  background: #2D6CC0;
  p {
    color: white;
  }
  a {
    color: white;
    &:hover {
      color: #cccccc;
    }
  }
  p a {
    color: #F1AB00;
    &:hover {
      color: #BB8900;
    }
  }
}

/* End Footers */